@import "_reset.css";
@import "_loader.css";

/*===== App =============================================*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Grand+Hotel);

html, body, .presentation, .slide, .caroufredsel_wrapper, .canvas { height: 100% !important;  }
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #444;
    overflow:hidden;
}
img { max-width: 100%; }
a, a:visited { color: #006699; }

.canvas {
    padding: 0;
}

.slide { float: left; overflow: auto; }
.slide h1 { font-size: 1.5em; margin: 0.5em 0 1em 0; font-weight: normal; text-align: center; }
.slide.slide1 h1 { margin: 0; }
#media-queries h1 { margin-bottom: 0; }
.slide p { margin: 0; }
.slide.slide2 p, .slide.slide51 p, .slide.slide52 p { margin: 1.5em 0; }
.slide.slide6 p { margin: 1.5em 0 0 0; }
.slide.slide61 p { margin: 1em 0 0 0; }
.slide p.small { font-size: 0.8em; margin: 0; }
.slide img { margin: 0 auto; }
.slide-wrap { width: 100%;}
.slide-content { vertical-align: middle; text-align: center; padding: 1em; }
.slide-content ol { text-align: left; }
.standalone-content { text-align: center;}
h2 { width: 80%; margin: 20px auto; color: #888; }
.caroufredsel_wrapper { position: relative; z-index: 1; }
.presentation-nav { position: absolute; bottom: 1em; left: 0; width: 100%; text-align: center; z-index: 2;}
.presentation-nav a {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: .5em;
	background: rgba(0,0,0,.2);
	margin: 0 .4em;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}
.presentation-nav a.selected { background: rgba(0,0,0,.5)}


ul {
    margin: 0 auto;
    text-align: left;
    padding: 0 0 0 1.5em;
}
li { margin: 20px 0; }
ul ul { font-size: 0.8em; }
ul ul li { margin: 10px 0; }
ul.list {
    padding: 0;
    text-align: center;
    max-width: 30em;
}
ul.list li {
    display: inline-block;
    width: 48%;
}

.columns { padding: 1em; color: #fff; font-weight: bold; text-align: center; }
.columns span { position: absolute; top: 50%; left: 50%; margin-top: -.4em; }
.column { position: relative; }
.column1 { background: #eee; height: 3em; margin: 0 0 .5em; }
.column2 { background: #ddd; width: 20%; float: left; height: 15em; margin: 0 1% .5em 0; }
.column3 { background: #aaa; width: 58%; float: left; height: 15em; margin: 0 0 .5em 0; }
.column4 { background: #bbb; width: 20%; float: right; height: 15em; margin: 0 0 .5em 0; }
.column5 { background: #ccc; clear: both; height: 5em; }

#feature-detection { text-align: center; }
#feature-detection div {
    display: inline-block;
    font-size: 3em;
    padding: 0 0.1em;
}

.canvas {visibility: hidden; }
.loaded .canvas { visibility: visible; }
.loaded #floatingCirclesG { display: none; }

#from-scratch h1 {
    color: #999;
    font-size: 3em;
    text-transform: uppercase;
    border:8px dashed #999;
    background: #fff;
    box-shadow: 0 0 1em #ccc;
    padding: 1em;
    max-width: 10em;
    margin: 1em auto 1em;
    font-weight: bold;
}

#retrofit h1 {
    font-family: 'Grand Hotel';
    font-size: 7em;
    color: #ccc;
    text-shadow: 1px 1px 0 #666;
    margin: .2em 0;
}
img.starbucks-iphone {
    display: block;
}

@media screen and (min-width: 161px) {
    body { }
    .presentation-nav { bottom: .5em; }
    .presentation-nav a { width: .7em; height: .7em; margin: 0 .2em; }
}


@media screen and (min-width: 45em) {
    h1 { font-size: 2em;}
}

@media screen and (min-width: 960px)
{
    body { font-size: 1.4em; }
    ul ul { font-size: 0.7em; }
}

@media screen and (max-width: 720px)
{
    .column3 { width: 78%; float: right; }
    .column4 { width: auto; clear: both; float: none; height: 3em; }
    .column5 { clear: both; height: 5em; }

}

@media screen and (max-width: 320px)
{
    .column3 { width: 100%; float: none; }
    .column2 { width: auto; clear: both; float: none; height: 3em; }
}
