article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/*===== App =============================================*/
html, body, .presentation, .slide, .caroufredsel_wrapper, .canvas { height: 100% !important;  }
body { margin: 0; padding: 0; font-family: Arial, sans-serif; color: #444; }
p { margin: 0; }
img { max-width: 100%; }
a, a:visited { color: #006699; }
.slide { float: left; overflow: auto; }
.slide h1 { font-size: 2em; margin: 0; font-weight: normal; }
.slide-wrap { width: 100%; display: table; }
.slide-content { display: table-cell; vertical-align: middle; text-align: center; }
.standalone-content { text-align: center;}
h2 { width: 80%; margin: 20px auto; color: #888; }
.caroufredsel_wrapper { position: relative; z-index: 1; }
.presentation-nav { position: absolute; bottom: 1em; left: 0; width: 100%; text-align: center; z-index: 2;}
.presentation-nav a {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: .5em;
	background: rgba(0,0,0,.2);
	margin: 0 .4em;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}
.presentation-nav a.selected { background: rgba(0,0,0,.5)}
ul { max-width: 80%; margin: 0 auto; text-align: left; font-size: 1.3em; }
li { margin: 20px 0; }
.slide2 ul, .slide7 ul, .slide14 ul { max-width: 60%; }
.slide5 ul { font-size: 1.2em; }
.slide5 li, .slide7 li { margin: 15px 0; }
ul ul { font-size: 0.8em; }
ul ul li { margin: 10px 0; }

.columns { padding: 1em; color: #fff; font-weight: bold; text-align: center; }
.columns span { position: absolute; top: 50%; left: 50%; margin-top: -.4em; }
.column { position: relative; }
.column1 { background: #eee; height: 3em; margin: 0 0 .5em; }
.column2 { background: #ddd; width: 20%; float: left; height: 15em; margin: 0 1% .5em 0; }
.column3 { background: #aaa; width: 58%; float: left; height: 15em; margin: 0 0 .5em 0; }
.column4 { background: #bbb; width: 20%; float: right; height: 15em; margin: 0 0 .5em 0; }
.column5 { background: #ccc; clear: both; height: 5em; }

/* iMac ------------------------------------------------------- */
@media screen and (width: 960px) 
{
    body { font-size: 1.4em; }
    .slide h1:first-child { margin-top: 40px; }
    .cover-image { max-height: 380px; }
    .starbucks-imac { display: block !important; }
    ul ul { font-size: 0.7em; }
}

@media screen and (max-width: 720px) 
{
    .column3 { width: 78%; float: right; }
    .column4 { width: auto; clear: both; float: none; height: 3em; }
    .column5 { clear: both; height: 5em; }
}

@media screen and (max-width: 320px) 
{
    .column3 { width: 100%; float: none; }
    .column2 { width: auto; clear: both; float: none; height: 3em; }
}
/* MacBook ------------------------------------------------------- */
@media screen and (width: 720px) 
{
    body { font-size: 1em; }
    .slide h1:first-child { margin-top: 40px; }
    .cover-image { max-height: 330px; }
    .starbucks-imac { display: block !important; }

}

/* iPad ------------------------------------------------------- */
@media screen and (width: 512px) 
{
    .slide h1:first-child { margin-top: 40px; }
    .cover-image { max-height: 260px; }
    .starbucks-imac { display: block !important; }
}

/* iPad (portrait) ------------------------------------------------------- */
@media screen and (width: 384px) 
{
    .slide h1:first-child { margin-top: 40px; }
    .starbucks-ipad-portrait { display: block !important; }
}

/* iPhone ------------------------------------------------------- */
@media screen and (width: 240px) 
{
    body { font-size: 0.8em; }
    .cover-image { max-height: 70px; }
    .starbucks-iphone-landscape { display: block !important; }
}

/* iPhone (portrait) ------------------------------------------------------- */
@media screen and (width: 160px) 
{
    body { font-size: 0.7em; }
    .cover-image { max-height: 90px; }
    .starbucks-iphone { display: block !important; }
}
@media screen and (max-width: 320px) {
    body { font-size: .9em; }
    .presentation-nav { bottom: .5em; }
    .presentation-nav a { width: .7em; height: .7em; margin: 0 .2em; }
}